
.about-container {
    height: 100%;
    background-color: var(--dark-blue);
    main {
        display: grid;
        grid-template-columns: 50% 50%;

        .text-frame,.image-frame {
            height: 100%;

        }


        img {
            height: 100%;
            width: 100%;
        }
        .image-frame {
            position: relative;
            overflow: hidden;
            border-radius: 500px;
            transition: all ease-in 400ms;
            filter: drop-shadow(2px 2px 4px black);

        }

       
    }

    .bio {
        margin-bottom: 8%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .quote {
        font-family: 'Unlock', cursive;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        filter: drop-shadow(2px 2px 2px black);
    }

    @media screen and (max-width:1200px) {
        overflow: scroll;
        main {
            display: flex;
            flex-direction: column;
        }
        .text-frame h1 {
            text-align: center;
        }

        .quote {
            font-size: 3rem;
        }

        .bio {
            text-align: center;
        }
        .image-frame {
            width: 60%;
            margin: 0 auto;
        }
    }
}

.text-frame {
    padding: 20% 5%;
    color: whitesmoke;

    h1 {
        font-family: 'Unlock', cursive;
        margin-bottom: 12px;
    }

}




