.card {
    display: block;
    position: relative;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .card-info {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        transition: all ease-in 400ms;

        .card-title {
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 2%;
            text-align: center;
            background-color: var(--blue);
            opacity: 0.9;
            .github-logo img{
                height: 20px;
                margin-right: 12px;
            }
        }
    
        .card-description {
            bottom: -300px;
            height: 300px;
            font-size: 1.2rem;
            padding:18px;
            position: relative;
            color: white;
            text-align: center;
            display: block;
            background-color: rgba(23, 23, 41,0.8);
            transition: bottom ease-in 400ms, filter ease-in 1000ms;
            box-shadow: inset 0px 0px 11px 0px #ffffff9e;

        }

        &:hover {
            filter: brightness(1.2);
            box-shadow: inset 0px 0px 11px 0px #ffffff9e;

            .card-description {
                bottom: -100px;
                filter: brightness(1.2);
            }
        }
    }

    @media screen and (max-width:500px) {
        margin-top:24px;
    }
   
}