.projects-page {
    position: relative;
    z-index: 1;
}

.projects-page h1 {
    color:white;
    padding: 24px;
    text-align: center;
}

.projects-container {
    margin-top: 20px;
    display: flex;
    padding: 24px;
    flex-wrap: wrap;

    @media screen and (max-width:500px) {
        justify-content: center;
    }
}