.projects-page {
    position: relative;
    z-index: 1;
    margin-top: 80px;
}

.projects-page h1 {
    color:white;
    padding: 24px;
    text-align: center;
}

.projects-container {
    margin-top: 20px;
    display: flex;
    padding: 24px;
    flex-wrap: wrap;
    justify-content: center;

}