.header {
    h1,h2 {
        text-align: center;
        font-family: 'Unlock', cursive;
    }
    h2 {
        margin-top: 12px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');
