.App {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

:root {
  --blue: rgb(55, 113, 219);
  --dark-blue: #0f2c38;
}


.overlay {
  height: 100%;
  width: 100%;
  background-color: var(--blue);
  position: absolute;
  z-index: 100;
  top: 100vh;
  transition: top ease-in-out 500ms;
}


