.homepage {
    background-color: rgb(23, 23, 41);
    position: relative;
    .homepage-header {
        position: absolute;
        color: white;
        width: fit-content;
        margin:auto;
        top: calc(100vh / 3);
        left: calc(100vw / 3);
    }
}