.nav {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    padding: 12px;
    position: relative;
    z-index: 1;

    @media screen and (max-width:500px) {
        width: 100%;
    }
}